.Weather form {
  margin-bottom: 20px;
}

.Weather .form-input {
  width: 600px;
  border-radius: 3px;
  border: 1px solid grey;
  padding: 3px;
}

.Weather .search-button {
  width: 110px;
  margin-left: 20px;
  padding: 3px;
}

.Weather h1 {
  color: white;
  font-size: 40px;
  line-height: 1.5;
  margin: 70px 0 10px 0;
}

.Weather .first-description {
  text-transform: capitalize;
}

.Weather ul {
  margin: 0;
  padding: 0;
  opacity: 0.8;
  color: white;
}
.Weather li {
  font-size: 16px;
  list-style-type: none;
}

.Weather .row {
  margin-top: 20px;
  color: white;
}

.Weather .weatherInfo {
  padding-left: 150px;
}
