.Weather {
  border: 1px solid grey;
  padding: 30px;
  border-radius: 5px;
}
.Weather form {
  margin-bottom: 20px;
}

.Weather .form-input {
  width: 600px;
  border-radius: 3px;
  border: 1px solid grey;
  padding: 3px;
}

.Weather .search-button {
  width: 110px;
  margin-left: 20px;
  padding: 3px;
}

.Weather h1 {
  color: black;
  font-size: 40px;
  line-height: 1.5;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  list-style-type: none;
}

.Weather .row {
  margin-top: 20px;
}
.Weather .temp {
  font-size: 70px;
  vertical-align: middle;
}

.Weather .unit {
  font-size: 25px;
}
